<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Lista de Agendamentos</h2>
    </div>

    <div *ngIf="loading" class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Carregando...</span>
        </div>
    </div>

    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

    <div *ngIf="!loading && agendamentos.length === 0" class="alert alert-info">
        Nenhum serviço encontrado.
    </div>

    <div *ngIf="!loading && agendamentos.length > 0" class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome Cliente</th>
                    <th>Nome Serviço</th>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of agendamentos">
                    <td>{{ item.nome_usuario }}</td>
                    <td>{{ item.nome_servico }}</td>
                    <td>{{ item.data_reserva  | date:"dd/MM/YYYY"}}</td>
                    <td>{{ item.hora_reserva }}</td>
                    <td>{{ item.preco | currency:'BRL' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>